.post .post-content > ul {
    list-style: outside;
    padding-left: 2em;
}

.post .post-content li {
    margin: 0.5em 0;
}

.post .post-content li p {
    margin: 0.5em 0;
}

.post .post-content .li-explanation {
    font-size: 0.9em;
}